<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Microclima - Sensul</title>
    <link rel="stylesheet" href="/dist/css/index.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  </head>
  <body class="aside-collapsed">
    <div class="wrapper">
      <nav class="navbar topnavbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">
            <div class="brand-logo">
              <img src="app/img/logo.png" alt="App Logo" class="img-responsive">
            </div>
            <div class="brand-logo-collapsed">
              <img src="app/img/logo-single.png" alt="App Logo" class="img-responsive">
            </div>
          </a>
        </div>
        <div class="navbar-collapse collapse" aria-expanded="false">
          <ul class="nav navbar-nav">
            <li><a ng-href="/">Início</a></li>
            <li><a ng-href="/maps">Mapa</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" ng-click="logout()">Sair</a></li>
          </ul>
        </div>
      </nav>
      <section style="margin-bottom: 0px !important" ng-view></section>
    </div>
    <script data-main="js/main" src="vendor/require/require.js"></script>
  </body>
</html>