<!DOCTYPE html>
<html lang="en" ng-app="sensul">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Microclima - Sensul</title>
    <link rel="stylesheet" href="/app/css/bootstrap.css">
    <link rel="stylesheet" href="/app/css/app.css">
    <link rel="stylesheet" href="app/css/theme-a.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
  </head>
  <body class="aside-collapsed">
    <div class="wrapper">
      <nav class="navbar topnavbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">
            <div class="brand-logo">
              <img src="app/img/logo.png" alt="App Logo" class="img-responsive">
            </div>
            <div class="brand-logo-collapsed">
              <img src="app/img/logo-single.png" alt="App Logo" class="img-responsive">
            </div>
          </a>
        </div>
        <div class="navbar-collapse collapse" aria-expanded="false">
          <ul class="nav navbar-nav">
            <li><a href="#">Início</a></li>
            <li><a ng-href="/teste">Mapa</a></li>
            <li class="dropdown">
              <a ng-href="/teste" class="dropdown-toggle" data-toggle="dropdown">
                Sensores&nbsp;&nbsp;<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Sair</a></li>
          </ul>
        </div>
      </nav>
      <div ui-view></div>
    </div>
    <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
    <script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <script data-require="ui-router@*" data-semver="0.2.10" src="https://rawgit.com/angular-ui/ui-router/0.2.10/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>