<!DOCTYPE html>
<html lang="en" ng-app="login-app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Microclima - Sensul</title>
    <link rel="stylesheet" href="/dist/css/login.min.css">
  </head>
  <body>
    <div class="wrapper ng-cloak">
      <div ng-controller="login-ctrl" class="block-center mt-xl wd-xl">
        <div class="panel panel-dark panel-flat">
          <div class="panel-heading text-center">
            <a href="/"><img src="img/logo/white_p.png" class="block-center img-rounded" style="width: 120px"></a>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <input type="email" placeholder="E-mail" ng-model="account.username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Senha" ng-model="account.password" class="form-control">
            </div>
            <div class="clearfix">
              <div class="checkbox c-checkbox pull-left mt0">
                <label>
                  <input type="checkbox" ng-model="remember">
                  <span class="fa fa-check"></span>Lembrar senha
                </label>
              </div>
              <div class="pull-right">
                <a class="text-muted" href="#">Esqueceu sua senha?</a>
              </div>
            </div>
            <button type="button" class="btn btn-block btn-primary mt-lg" ng-click="login(account, remember)">Entrar</button>
            <p class="pt-lg text-center">
              <span class="text-danger ng-hide" ng-show="error">E-mail ou senha inválidos!</span>
            </p>
            <a class="btn btn-block btn-default" href="#">Registrar</a>
          </div>
        </div>
        <div class="p-lg text-center">
          <span>Sensul</span>
          <span>©</span>
          <span>2015</span>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="dist/js/login.min.js"></script>
  </body>
</html>