<!DOCTYPE html>
<html lang="en" ng-app="login-app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Microclima - Sensul</title>
    <link rel="stylesheet" href="/dist/css/login.min.css">
  </head>
  <body>
    <div class="row">
      <div class="wrapper ng-cloak">
        <div ng-controller="login-ctrl" class="block-center mt-xl wd-xl">
          <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
              <a href="/"><img src="img/logo/white_p.png" class="block-center img-rounded" style="width: 120px"></a>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <input type="email" placeholder="E-mail" ng-model="account.username" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Senha" ng-model="account.password" class="form-control" ng-keypress="login(account, remember, $event)">
              </div>
              <div class="clearfix">
                <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                    <input type="checkbox" ng-model="remember">
                    <span class="fa fa-check"></span>Lembrar senha
                  </label>
                </div>
                <div class="pull-right">
                  <a class="text-muted" href="#">Esqueceu sua senha?</a>
                </div>
              </div>
              <div class="text-center" style="margin-bottom:-10px" ng-show="loader">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="50" height="50" fill="#23b7e5">
                  <path transform="translate(2)" d="M0 12 V20 H4 V12z">
                    <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline"  />
                  </path>
                  <path transform="translate(8)" d="M0 12 V20 H4 V12z">
                    <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.2" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline"  />
                  </path>
                  <path transform="translate(14)" d="M0 12 V20 H4 V12z">
                    <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.4" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
                  </path>
                  <path transform="translate(20)" d="M0 12 V20 H4 V12z">
                    <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.6" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
                  </path>
                  <path transform="translate(26)" d="M0 12 V20 H4 V12z">
                    <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.8" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
                  </path>
                </svg>
              </div>
              <button type="button" class="btn btn-block btn-primary mt-lg" ng-click="login(account, remember, $event)">Entrar</button>
              <p class="pt-lg text-center ng-hide" ng-show="error" style="margin-bottom: 0px">
                <span class="text-danger">E-mail ou senha inválidos!</span>
              </p>
            </div>
          </div>
          <div class="p-lg text-center">
            <span>Sensul</span>
            <span>©</span>
            <span>2015</span>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="dist/js/login.min.js"></script>
  </body>
</html>