<div class="content-wrapper" ng-init="isValidId()">
	<div class="container-fluid">
  	<div class="row">
    	<div class="col-lg-6 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <form role="form">
              <div class="form-group" ng-show="activeEdit == null">
                <label>Estufa</label>
                <select class="form-control" ng-model="active" ng-change="refresh(active)" style="width: 250px" ng-options="greenhouse.id as greenhouse.description for greenhouse in greenhouses">
                  <option value="">Selecione</option>
                </select>
              </div>
              <div class="form-group" ng-show="activeEdit != null">
                <label>{{getNameGreenHouse(activeEdit)}}</label>
              </div>
              <div class="form-group" ng-show="active != null">
                <div id="viewCanvas" style="height: 200px">
                  <canvas id="canvas" style="cursor: pointer"></canvas>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="panel panel-default" ng-show="active != null && sensorActive || undefined">
          <div class="panel-body">
            <div class="table-responsive table-bordered">
              <table class="table">
                <thead>
                  <tr>
                    <th>Sensor</th>
                    <th>Valor</th>
                    <th>Data</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="sensor in chart.data">
                    <td>Temperatura</td>
                    <td>89</td>
                    <td>14:20 10/10/2014</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12" ng-show="active != null && sensorActive || undefined">
        <div class="panel panel-default">
          <div class="panel-body">
            <form role="form">
              <div class="row">
                <div class="form-group col-lg-6 col-sm-12">
                  <label>Início</label>
                  <input type="datetime-local" ng-model="dataFilter.dateInit" class="form-control" placeholder="dd-MM-yyyyTHH:mm:ss" required />
                </div>
                <div class="form-group col-lg-6 col-sm-12">
                  <label>Fim</label>
                  <input type="datetime-local" ng-model="dataFilter.dateFinish" class="form-control" placeholder="dd-MM-yyyyTHH:mm:ss" required />
                </div>
              </div>
              <button type="button" ng-click="refresh(active);" class="btn btn-sm btn-default">Pesquisar</button>
            </form>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Temperatura</div>
          <div class="panel-body">
            <div google-chart chart="chart"/>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Humidade</div>
          <div class="panel-body">
            <div google-chart chart="chart"/>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Pressão</div>
          <div class="panel-body">
            <div google-chart chart="chart"/>
          </div>
        </div>
   	  </div>
	 </div>
  </div>
</div>