<div class="content-wrapper">
	<div class="container-fluid">
  	<div class="row">
    	<div class="col-md-12">
      	<div class="panel panel-default" style="margin-bottom: 0px !important">
         	<div class="panel-body">
         		<div id="map" style="width:100%"></div>
         	</div>
        </div>
      </div>
   	</div>
	</div>
</div>
<div class="modal fade" id="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 0px">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
        <h4 class="modal-title">{{data.station.description}}</h4>
      </div>
      <div class="modal-body" style="padding: 0px">
        <ul class="nav nav-tabs">
          <li ng-class="{ active: configurations.active == sensors.SensorId }" ng-repeat="sensors in data.station.StationSensors" ng-click="getSensorData(sensors.SensorId, data.station.id)">
            <a href="#">{{sensors.Sensor.description}}
            </a>
          </li>
        </ul>
        <div class="tab-content" id="tab-content">
          <div class="tab-pane active">
            <div class="panel-body loader-demo" ng-show="loader">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="50" height="50" fill="#23b7e5" ng-show="loader">
                <path transform="translate(2)" d="M0 12 V20 H4 V12z">
                  <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline"  />
                </path>
                <path transform="translate(8)" d="M0 12 V20 H4 V12z">
                  <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.2" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline"  />
                </path>
                <path transform="translate(14)" d="M0 12 V20 H4 V12z">
                  <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.4" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
                </path>
                <path transform="translate(20)" d="M0 12 V20 H4 V12z">
                  <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.6" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
                </path>
                <path transform="translate(26)" d="M0 12 V20 H4 V12z">
                  <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.8" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
                </path>
              </svg>
            </div>
            <div class="row" ng-show="!loader">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Período</label>
                  <input type="text" class="form-control" name="daterange" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Tipo de visualização</label>
                  <select class="form-control text-center" ng-model="typeDefault" ng-change="showView(typeDefault, configurations.search.sensorData)">
                    <option value="{{typeValue.value}}" ng-repeat="typeValue in types">{{typeValue.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <button type="button" class="btn btn-sm">Pesquisar</button>
              </div>
            </div>
            <div id="charts" class="col-md-12" style="height: 200px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>