<div class="content-wrapper">
	<div class="container-fluid">
  	<div class="row">
    	<div class="col-md-12">
      	<div class="panel panel-default" style="margin-bottom: 0px !important">
         	<div class="panel-body">
         		<div id="map" style="width:100%"></div>
         	</div>
        </div>
      </div>
   	</div>
	</div>
</div>
<div class="modal fade" id="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 0px">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
        <h4 class="modal-title">{{data.description}}</h4>
      </div>
      <div class="modal-body" style="padding: 0px">
        <ul class="nav nav-tabs">
          <li ng-class="{ active: configurations.active == sensors.SensorId }" ng-repeat="sensors in data.StationSensors" ng-click="getSensorData(sensors.SensorId, data.id)">
            <a href="#">{{sensors.Sensor.description}}
            </a>
          </li>
        </ul>
        <div class="tab-content" id="tab-content">
          <div class="tab-pane active">
            <div class="panel-body loader-demo" ng-show="loader">
              <div class="ball-clip-rotate">
                <div></div>
              </div>
            </div>
            <div class="row" ng-show="!loader">
              <div class="col-sm-4 col-md-offset-4">
                <div class="form-group text-center">
                  <label>Tipo de visualização</label>
                  <select class="form-control text-center" ng-model="type" ng-change="showView(type)">
                    <option value="{{typeValue.value}}" ng-repeat="typeValue in types">{{typeValue.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div id="charts" class="col-md-12" style="height: 200px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>