<div class="content-wrapper">
	<div class="container-fluid">
  	<div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive table-bordered">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 200px">Estação</th>
                  <th ng-repeat="sensor in stationssensors.sensors" class="text-center">{{sensor.description}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="station in stationssensors.stations">
                  <th style="width: 200px">{{station.description}}</th>
                  <td ng-repeat="sensor in stationssensors.sensors" class="text-center">
                    <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" ng-checked="isCheck(station.id, sensor.id)" ng-click="save(station.id, sensor.id);">
                        <span class="fa fa-check"></span>
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
   	</div>
	</div>
</div>