<div class="content-wrapper">
	<div class="container-fluid">
  	<div class="row">
    	<div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">Estações</div>
          <div class="panel-body">
            <form role="form">
              <div class="form-group">
                <label>Descrição</label>
                <input type="text" placeholder="Descrição" class="form-control" ng-model="data.description">
              </div>
              <div class="form-group">
                <label>Latitude</label>
                <input type="text" placeholder="Latitude" class="form-control" ng-model="data.latitude">
              </div>
              <div class="form-group">
                <label>Longitude</label>
                <input type="text" placeholder="Longitude" class="form-control" ng-model="data.longitude">
              </div>
              <button type="button" class="btn btn-sm btn-default" ng-click="save(data)">Salvar</button>
              <button type="button" ng-click="getAll()" class="btn btn-sm btn-default">Limpar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive table-bordered">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center" style="width: 100px">Código</th>
                  <th>Descrição</th>
                  <th class="text-center" style="width: 150px">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="station in stations">
                  <td class="text-center" style="width: 100px">{{station.id}}</td>
                  <td>{{station.description}}</td>
                  <td class="text-center" style="width: 150px">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="edit(station)">Editar</button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="getSensors(station.id)">Sensores</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
   	</div>
	</div>
</div>
<div class="modal fade" id="modalSensors">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive table-bordered">
              <table class="table" style="margin-bottom: 0px">
                <thead>
                  <tr>
                    <th>Sensor</th>
                    <th class="text-center" style="width: 200px">Relacionamento</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="sensor in sensors">
                    <td>{{sensor.description}}</td>
                    <td class="text-center" style="width: 200px">
                      <input type="checkbox" ng-checked="isCheck(sensor.id)" ng-click="saveStationSensor(stationActive, sensor.id)">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>